#define MIRYOKU_ALPHAS_QWERTY
#define MIRYOKU_TAP_QWERTY
#define MIRYOKU_EXTRA_QWERTY
#define MIRYOKU_NAV_VI
#define MIRYOKU_CLIPBOARD_WIN

#include "../miryoku/miryoku/mapping/42/corne.h"
#include "../miryoku/miryoku/miryoku.dtsi"
